{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="site-container">
        <nav>
            <a href="{% url 'views.hello_world' %}">Home</a>
            <a href="{% url 'courses:list' %}">Cursos</a>
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>