{% extends "layout.html" %}

{% load static from staticfiles %}

{% block title %}Available Courses{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">{% endblock %}

{% block content %}
<div class="cards">
    {% for course in courses %}
    <div class="card">
        <header><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></header>
        <div class="card-copy">
            {% if course.description|wordcount <= 5 %}
                {{ course.description }}
            {% else %}
                {{ course.description|truncatewords:5 }}
                <a href="{% url 'courses:detail' pk=course.pk %}">Read more</a>
            {% endif %}
            <div>Created on: {{ course.created_at|date:"m/d/y" }}</div>
        </div>
    </div>
    {% endfor %}
    <div>Have questions? Contact us! {{ email|urlize }}</div>
</div>
{% endblock %}