{% extends "courses/layout.html" %}

{% load course_extras %}

{% block title %}{{ question|default:"New Answer" }} | {{ question.quiz.course.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk %}">{{ question.quiz.title }}</a></li>
    <li>{{ question.prompt }}</li>
{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
        <div class="row columns">
            <h1>Answers</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <section>
                    {{ formset }}
                </section>
                <input type="submit" class="button" value="Save">
            </form>
        </div>
    </div>
{% endblock%}