{% extends "courses/layout.html" %}

{% load course_extras %}

{% block title %}{{ step.title }} | {{ step.course.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=step.course.pk %}">{{ step.course.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row columns">
        <article>
            {{ block.super }}
            <h1>{{ step.title }}</h1>
            <ul class="no-bullet">
                {% for question in step.question_set.all %}
                    <li>
                        <h2>{{ question.prompt }}</h2>
                        {% for answer in question.answer_set.all %}
                            <div class="callout {% if answer.correct %}success{% endif %}">{{ answer.text }}</div>
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'courses:edit_question' question_pk=question.pk quiz_pk=step.pk %}" class="button">Edit</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </article>
        {% if user.is_authenticated %}
            <hr>
            <a href="{% url 'courses:edit_quiz' course_pk=step.course.pk quiz_pk=step.pk %}" class="button">Edit</a>
            <a href="{% url 'courses:create_question' quiz_pk=step.pk question_type='mc' %}" class="button">New Multiple Choice Question</a>
        <a href="{% url 'courses:create_question' quiz_pk=step.pk question_type='tf' %}" class="button">New True/False Question</a>
        {% endif %}
    </div>
{% endblock %}