{% load static from staticfiles %}
{% load course_extras %}

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        {% block static %}{% endblock %}
    </head>
    <body>
        <div class="site-container">
            <div>{% nav_courses_list %}</div>
            <nav>
                <a href="{% url 'hello' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a>
            </nav>
            <p>Don't miss out latest course, {% newest_course %}</p>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>