<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Flask Basics{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    {% block content %}{% endblock %}
    <p>Brought to you by the fine folks at Treehouse!</p>
    {% block scripts %}{% endblock %}
    <!--<script src="/static/scripts.js"></script> -->
</body>
</html>