{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
    <form action="" method="POST" class="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <button type="submit">Login</button>
    </form>
{% endblock %}