{% extends "layout.html" %}

{% block title %}Suggest and idea!{% endblock %}

{% block content %}
    <div class="row">
        <form action="" method="POST">
            {{ form.as_p }}
            <input type='submit' class="button">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}